@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

/*Formatação video e audio*/

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 575px;
    top: 500px;
    width: 300px;
    height: 35px;
}

video#video {
    display: block;
    position: relative;
    left: 80px;
    bottom: 10px;
    width: 450px;
    height: 350px;
}

